
#fondo-confBA{
  background-image: url("../img/hawaii.jpg");
  background-size: cover;
  position: relative;
  z-index: 1;
}

#fondo-confBA:after{
  content: '';
  position: absolute;
  opacity: .6;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: -1;
 
}

.negrita{
  font-weight: bold;
}

.paddingCarta{
  padding: 0px 5px 0px 5px;
}
